.homepage-container {
   
    width: 100%;
    background-color: #f5f5f5;
    
  
}
    .homepage-content {
       
        display: inline-block;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        
    }
        .homepage-carousel {
            margin-top: 20px;
            
            
        }
        .homepage-carousel-flash-sale, .homepage-carousel-new-arrival {
            margin-top: 20px;
            background-color: white;
           
            img {
                margin-top: 1%;
                margin-left: 1%;
                background: 50% no-repeat;
                background-size: contain;
                height: 25px;
            } 
            .ant-statistic-content {
                margin-bottom: 10px;
                height: 25px;
                background-color: black;
                color: white;
                
                font-size: 14px;
                border-radius: 10px;
            }
        }
        .homepage-carousel-new-arrival {
            display: flex;
        }